<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Online Exam System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>faculty</display-name>
    <servlet-name>faculty</servlet-name>
    <servlet-class>faculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>faculty</servlet-name>
    <url-pattern>/faculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin</display-name>
    <servlet-name>admin</servlet-name>
    <servlet-class>admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>student</display-name>
    <servlet-name>student</servlet-name>
    <servlet-class>student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudent</display-name>
    <servlet-name>UpdateStudent</servlet-name>
    <servlet-class>UpdateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudent</servlet-name>
    <url-pattern>/UpdateStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFaculty</display-name>
    <servlet-name>AddFaculty</servlet-name>
    <servlet-class>AddFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFaculty</servlet-name>
    <url-pattern>/AddFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdmin</display-name>
    <servlet-name>AddAdmin</servlet-name>
    <servlet-class>AddAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdmin</servlet-name>
    <url-pattern>/AddAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveStudent</display-name>
    <servlet-name>RemoveStudent</servlet-name>
    <servlet-class>RemoveStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveStudent</servlet-name>
    <url-pattern>/RemoveStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveAdmin</display-name>
    <servlet-name>RemoveAdmin</servlet-name>
    <servlet-class>RemoveAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveAdmin</servlet-name>
    <url-pattern>/RemoveAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFaculty</display-name>
    <servlet-name>RemoveFaculty</servlet-name>
    <servlet-class>RemoveFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFaculty</servlet-name>
    <url-pattern>/RemoveFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentList</display-name>
    <servlet-name>StudentList</servlet-name>
    <servlet-class>StudentList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentList</servlet-name>
    <url-pattern>/StudentList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFaculty</display-name>
    <servlet-name>UpdateFaculty</servlet-name>
    <servlet-class>UpdateFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFaculty</servlet-name>
    <url-pattern>/UpdateFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdmin</display-name>
    <servlet-name>UpdateAdmin</servlet-name>
    <servlet-class>UpdateAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdmin</servlet-name>
    <url-pattern>/UpdateAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageSubject</display-name>
    <servlet-name>ManageSubject</servlet-name>
    <servlet-class>ManageSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageSubject</servlet-name>
    <url-pattern>/ManageSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectSubject</display-name>
    <servlet-name>SelectSubject</servlet-name>
    <servlet-class>SelectSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSubject</servlet-name>
    <url-pattern>/SelectSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageQuestions</display-name>
    <servlet-name>ManageQuestions</servlet-name>
    <servlet-class>ManageQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageQuestions</servlet-name>
    <url-pattern>/ManageQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAnswers</display-name>
    <servlet-name>GetAnswers</servlet-name>
    <servlet-class>GetAnswers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAnswers</servlet-name>
    <url-pattern>/GetAnswers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestion</display-name>
    <servlet-name>AddQuestion</servlet-name>
    <servlet-class>AddQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestion</servlet-name>
    <url-pattern>/AddQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckAccess</display-name>
    <servlet-name>CheckAccess</servlet-name>
    <servlet-class>CheckAccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAccess</servlet-name>
    <url-pattern>/CheckAccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>imgupload</display-name>
    <servlet-name>imgupload</servlet-name>
    <servlet-class>imgupload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imgupload</servlet-name>
    <url-pattern>/imgupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Storelogintime</display-name>
    <servlet-name>Storelogintime</servlet-name>
    <servlet-class>Storelogintime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Storelogintime</servlet-name>
    <url-pattern>/Storelogintime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Selectedsubjectsexam</display-name>
    <servlet-name>Selectedsubjectsexam</servlet-name>
    <servlet-class>Selectedsubjectsexam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Selectedsubjectsexam</servlet-name>
    <url-pattern>/Selectedsubjectsexam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveActiveSubject</display-name>
    <servlet-name>RemoveActiveSubject</servlet-name>
    <servlet-class>RemoveActiveSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveActiveSubject</servlet-name>
    <url-pattern>/RemoveActiveSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveTime</display-name>
    <servlet-name>RemoveTime</servlet-name>
    <servlet-class>RemoveTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveTime</servlet-name>
    <url-pattern>/RemoveTime</url-pattern>
  </servlet-mapping>
</web-app>